# === Rust ===
/target/
**/*.rs.bk
**/*.log

# === VSCode ===
.vscode/
*.code-workspace

# === System files ===
.DS_Store
Thumbs.db

# === Metadata ===
*.gguf
*.json

venv/
temporary
out
merged-model/
gguf-ready